// Devices sizes
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;
$bp-desktop-m: 1680px;
$bp-desktop-l: 1920px;
$bp-desktop-xl: 2560px;

// Colors
$black: #151515;
$green: #4ee1a0;
$dark-grey: #242424;
$grey: #d9d9d9;
$white: #ffffff;
$red: #ff6f5b;

// Fonts
$primary-font: "Space Grotesk", sans-serif;
