@use "../abstracts/index" as *;

.container {
  position: relative;
  margin: auto;
  max-width: 375px;

  @include breakpoint(tablet) {
    max-width: $bp-tablet;
  }
  
  @include breakpoint(desktop) {
    max-width: $bp-desktop;
  }
}
